<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        padding: 45px;
    }
    table {
        margin-top: 15px;
    }
    .completed {
        color: #eee;
        text-decoration: line-through 
    }
</style>

<body>
    <div id="app">
        <div class="input-group">
            <div class="input-group-prepend">
                <select class="custom-select" v-model="todoContext">
                    <option value="회사">회사</option>
                    <option value="집">집</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <input type="text" class="form-control" placeholder="할일을 입력해 주세요" v-model="todoInput">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" v-on:click="addTodo">저장</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        완료
                    </th>
                    <th>분류</th>
                    <th style="width:80%">해야 할 일</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(todos, index) in todoList">
                    <td>
                        <todo-context :todo ="todos" :index="index"/>
                    </td>
                    <td>
                        <span class="badge"
                        :class="{'badge-secondary': todos.completed, 'badge-info': !todos.completed}">
                            {{ todos.context }}
                        </span>
                    </td>
                    <td :class="{completed: todos.completed}">{{ todos.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="./todoList.js"></script>